.body{
    background-color: rgb(240, 233, 233);

}
.top {
    background-color:#3333ff;
    padding-top: 10px;
    
}
.two {
    color: white;
}
.so {
    width: 30px;
    padding-right: 10px;
} 
.but{
    cursor: pointer;
    color: green;   
    border: 1px solid green;
    cursor: pointer;
}
.top{
    display: flex;
    justify-content: space-around;
}
.second {
    display: flex;
    justify-content: space-around;
}
.button {
    border: none;
    border-radius: 20px;
    font-weight: bolder;   
}
button:focus{
    color: blue;
}
.im{
    width: auto;
    height: 60px;
}
.intro{
    display: inline-flex;
    text-align: center;
}
.cent{
    padding-left: 300px;
    padding-right: 300px;
}
#tex{
    color: blue;
}
#text{
    color: green;
}

.para {
    border: 10px solid white;
    background-color: blue;
    text-align: center;
    padding-top: 20px;
}
/* .intro {
    background-color: royalblue;
    text-align:justify; */
.fig{
    color: white;
    padding-left: 130px;
}
.fig1{
    height: 100px;
    width: auto;
    padding-top: 40px;
}
/* .fig2{
    display: inline-flex;
}
.fig3{
    display: inline-flex;
}
.fig4{
    display: inline-flex;
} */
.what{
    display: inline-flex;
    text-align: center;
}
.sadqa{
}
.td1{
    background-color: white;
    width: 350px;
    height: 200px;
}

.ima{
    height: 100px;
    width: 100px;
}
/* .sadqa{
    background-color: white;
    box-shadow: black;
    width: 300px;
    height: 150px;
    text-align: center;
    padding-left: 20px;

}
.tab{
}
.ima {
    width: 150px;
    height: 150px;
    padding-top: 50px;
    padding-left: 50px;
} */
.cent{
    text-align: center;
    color: green;
}
.miss{
    color: #3333ff;
}
.green{
    color: green;
}
.imgbar{
    text-align: center;
    padding-bottom: 200px;
}
.imges{
    width: 230px;
}

.center{
    display: inline-flex;
    padding-left: 620px;
}
.links{
    background-color: #003333;
    height: 400px;
    width: 1520px;
    padding-left: 200px;
    padding-top: 70px;
    display: inline-flex;
    font-size: 15px;
    color: white;
}
.sem{
    display: inline-flex;
}
.linkimg{
    height: 20px;
    width: inherit;
}
.globe{
    height: 20px;
    width: inherit;
    padding-left: 20px;
}
.usefullinks{
    color: white;
    display: inline-flex;
    padding-left: 100px;
}
.cont{
    color: white;
    padding-left: 200px;
}
.contimg{
    width: 20px;
    display: inline-flex;
    padding-right: 2px;
}
.mis{
    background-color: silver;
    
}
.copy{
    background-color:#1a66ff;
    height: 50px;
}
.copy1{
    padding-left: 200px;
    color: white;
    padding-top:10px;
}
/* table,th,td{
    border: 1px solid black;
    padding: 5px;
} */
.tab{
    box-shadow: 0px 2px 18px 0px gray;
    border-collapse: separate;
}
.tab1{
    box-shadow: 0px 2px 18px 0px gray;
    border-collapse: separate;

}
.upcoming{
    background-color: rgb(240, 233, 233);
    width: 250px;
    height: 50px;
    padding-top: 5px;
    text-align: left;
}
.ima1{
    height: 30px;
    width: 30px;
}
table{
    border-spacing: 15px;
    display: inline-flex;
}
